// COULEUR
// Base color
$white: #fff;
$grey: #a5a5a5;
$bg:#f6f8fc;

// MARGIN
$box-margin:15px;
$title-margin:5px;

// FONT
// Size
$xl-size: 50px;
$l-size: 40px;
$n-size: 20px;
$s-size: 16px;

// Composant
// Card
$widthCard : 300px;